# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Environments
.venv/
.env

# Tool caches
.mypy_cache/
.ruff_cache/
.pytest_cache/
.hypothesis/

# Flet
qutip_trap_app/.flet/
qutip_trap_app/build/
qutip_trap_app/storage/

# Editors / OS
.idea/
.vscode/
.DS_Store
